@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  align-items: center;
  margin: 10% 15%;
  justify-content: space-between;
}

.contenedor_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenedor_contenido_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.destacar {
  color: #22D4FD;
}

.contenedor_contenido_parrafo{
    font-size:24px ;
    font-family:"Montserrat", sans-serif;
}

span {
  font-weight: bold;
  color: #22D4FD;
  border: 1px solid #22D4FD;
  padding: 10px;
}

span:hover{
  background-color: #22D4FD;
  color: black;
  border: solid white;
  cursor:pointer;
}

.contenedor_boton{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.contenedor_boton_a{
  width: 378px;
  padding: 21.5px 0;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  border: 2px solid #22D4FD;
  display: flex;
  justify-content: center;
  gap: 10px;
 }

 .contenedor_boton_a:hover{
  scale:1.2;
  box-shadow: white 1px 1px 15px;
 }

.contenedor_boton_titulo{
  font-family:"Krona One", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.contenedor_boton_a_logo{
  width: 28px;
}

footer {
  background-color: white;
}